
.calcTable {

	display: block;
	margin: auto;
	width: 50%;
	align-content: center;

}

#display{
	display: block;
	margin: auto;
	background-color: #C9C6C5;
	border-radius: 2px;
	width: 200px;
	height: 40px;
	text-align: center;
	font-family: Arial;
	font-size: 150%;
	padding-top: 20px;
}

.register{

	height: 60px;
	width: 100px;
	display: inline;

}

 button.digits {

	width: 40px;
	height: 40px;
	margin: auto;

	

}

#equalsToOperation{

	width: 40px;
	height: 40px;
	margin: auto;

}